@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Figtree';
    background: #211c1c;
    background: linear-gradient(167deg,rgba(33, 28, 28, 1) 0%, rgba(21, 56, 54, 1) 100%);
    color: #edf5e4;
}

#tentacles {
    width: 50px;
}

.body-container {
    padding: 10px 20px 10px 20px;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 600;
}

p {
    font-weight: 200;
    color: #b1b4ae;
}

.group {
    margin-bottom: 30px;
}

.header {
    display: flex;
    background: #211c1c;
    background: linear-gradient(124deg,rgba(33, 28, 28, 1) 0%, rgba(21, 56, 54, 1) 49%, rgba(123, 156, 130, 1) 100%);
    padding: 1%;
    gap: 12px;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: #edf5e4;
    box-shadow: 0 0 50px 0px #0d1313;
}

.stats-container {
    display: flex;
    align-items: first;
    cursor: pointer;
}

.stats-card {
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.232);
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    transition: 0.15s;
    transform: scale(1.0);
}

.stats-card:hover {
    box-shadow: 0 0 30px rgb(75, 98, 105);
    background-color: rgba(100, 135, 146, 0.08);
    transform: scale(1.03);
}

.stats-card h3 {
    color: #b1b4ae;
    font-weight: 400;
}

.stats-card p {
    color: #edf5e4;
    font-weight: 600;
}


#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 40px #00000046;
    margin: 0;
}

.game-card {
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.232);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding: 2%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    transition: 0.15s;
}

.game-card h1 {
    margin: 0;
    flex-grow: 1;
}

.game-card p {
    margin: 0;
    flex-grow: 1;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(75, 98, 105);
    background-color: rgba(100, 135, 146, 0.08);
    transform: scale(1.03);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Figtree';
    font-weight: 600;
    border: none;
    padding: 1% 1.5%;
    margin: 1%;
    border-radius: 7px;
    background-color:#edf5e4;
    transition-duration: 0.2s;
}

button:hover {
    background-color:#87eeb6;
    transform: scale(1.1);
}

button:active {
    background-color:#ffffff;
    transform: scale(0.99);
}